:root{
    --color-pink: #e63888;
    --color-white: #fff;
}


b{
    font-weight: 600;
}
.banner{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #000;
}

.b-box {
    padding: 1.5em;
    margin-top: 70px;
}

.b-box h2{
    font-size: 30px;
    margin: 1em 0em;
    color: #000826cc;
    font-weight: 700;
    text-transform: uppercase;
}

.b-btn, .a-btn{
    padding: 1em 2em;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    margin: 1em 0em;
    color: var(--color-pink);
    font-weight: 600;

}

.bloco-a{
    background-color: #e63888;
}

.bloco-c, .bloco-gitc h2{
    background-color: #e8c3c3;
    color: #fff;
}

.b-btn {
    background-color:var(--color-pink);
    color:#fff;
    
    }
    .b-btn:hover {
        animation: btn 1s;
    }


    
@media screen and (min-width: 750px){
    
 
    .b-box {
        width: 49%;
      
    }

    .banner {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    
}

@keyframes btn{
    
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5)
    }
    100%{
        transform: scale(1);
    }
}

